@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
    <div id="banner">
        <img src="https://elead.com.vn/wp-content/uploads/2020/04/nhung-anh-dong-thien-nhien-phong-canh-dep-1.gif" />
    </div>
    <div id="main">
        <div id="left">
            <div id="Remix">
                <h1>
                    Remix:
                </h1>
                <ul>
                    <li>
                        <img src="https://kenh14cdn.com/thumb_w/660/203336854389633024/2021/4/15/photo-1-16184999168621700438113.jpg" width="800" height="300" />
                        <h2>
                            Tên ca khúc: Muộn rồi mà sao còn<br />
                            Sáng tác: Sơn Tùng M-TP <br />
                            Thể loại: Remix
                        </h2>
                    </li>

                    <li>
                        <img src="https://i.ytimg.com/vi/-XayVQzP_xk/maxresdefault.jpg" width="800" height="300" />
                        <h2>
                            Tên ca khúc: Đồi Hoa Mặt Trời<br />
                            Sáng tác: Hoàng Yến ChiPi <br />
                            Thể loại: Remix
                        </h2>
                    </li>

                    <li>
                        <img src="https://photo-resize-zmp3.zmdcdn.me/w240_r1x1_jpeg/cover/d/8/0/1/d801670cd8ecdb89750bdbe8de198021.jpg" width="800" height="300" />
                        <h2>
                            Tên ca khúc: Hạ Còn Vương Nắng<br />
                            Sáng tác: DATKAA x KIDO x Prod <br />
                            Thể loại: Remix
                        </h2>
                    </li>

                    <li>
                        <img src="https://cdnimg.vietnamplus.vn/t1200/Uploaded/tpuoaob/2021_05_16/vnpdenvau.jpg" width="800" height="300" />
                        <h2>
                            Tên ca khúc: Trốn tìm<br />
                            Sáng tác: Đen Vâu <br />
                            Thể loại: Rap 
                        </h2>

                    </li>
                </ul>
            </div>

            <div id="NhacTre">
                <h1>
                    Nhạc Trẻ:
                </h1>
                <ul>
                    <li>
                        <img src="https://image.thanhnien.vn/w1024/Uploaded/2022/jhvabun/2021_09_01/posterbaihat_divh.jpeg" width="800" height="300" />
                        <h2>
                            Tên ca khúc:Rồi tới luôn<br />
                            Sáng tác: Nal Phi Hồ <br />
                            Thể loại: Nhạc Trẻ
                        </h2>
                    </li>

                    <li>width
                        <img src="https://i.ytimg.com/vi/upY2a7vXneU/maxresdefault.jpg" width="800" height="300" />
                        <h2>
                            Tên ca khúc: Yêu Đừng Sợ Đau<br />
                            Sáng tác: Ngô Lan Hương <br />
                            Thể loại: Nhạc Trẻ
                        </h2>
                    </li>

                    <li>
                        <img src="https://i.ytimg.com/vi/BdPk9ipvczM/maxresdefault.jpg" width="800" height="300" />
                        <h2>
                            Tên ca khúc: Sài Gòn đau lòng quá<br />
                            Sáng tác: Hứa Kim Tuyền, Hoàng Duyên <br />
                            Thể loại: Nhạc Trẻ
                        </h2>
                    </li>

                    <li>
                        <img src="https://i.ytimg.com/vi/pzWMF4D1H00/maxresdefault.jpg" width="800" height="300" />
                        <h2>
                            Tên ca khúc: Thay Tôi Yêu Cô Ấy<br />
                            Sáng tác: Thanh Hưng <br />
                            Thể loại: Nhạc Trẻ
                        </h2>
                    </li>
                </ul>
            </div>
        </div>
        <div id="right">
            <div class="menu_right">
                <h3>Danh sách các thể loại</h3>
                <ul>
                    <li><a href="#Remix">Remix</a></li>
                    <li><a href="#NhacTre">Nhạc Trẻ</a></li>
                    <li><a href="">Chill</a></li>
                    <li><a href="">Lofi</a></li>
                    <li><a href="">Rap</a></li>
                    <li><a href="">EDM</a></li>
                    <li><a href="">Bolero</a></li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>
